.nav-header{
    background-color: teal;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: x-large;
}

.main-header{
    font-family: 'DM Serif Display', serif;
    color: teal;
}

.submit-btn{
    background-color: teal;
    color: white;
}

.white{
    background-color: white;
}

.footer{
    background-color: #666666;
    border-top-style: solid;
    border-top-width: 10px;
    border-color: teal;
}

.footer-text{
    color: #6C757C;
}