.nav-header{
    background-color: teal;
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: x-large;
}

.main-header{
    font-family: 'DM Serif Display', serif;
    color: teal;
}

.submit-btn{
    background-color: teal;
    color: white;
}

.white{
    background-color: white;
}