.nav-header{
    background-color: teal;
    color: whitesmoke;
    font-family: 'DM Serif Display', serif;
    font-size: x-large;
}

.main-header{
    font-family: 'DM Serif Display', serif;
    color: teal;
}